<h1>Your Resume</h1>
<h3>Add an old job:</h3>
<form action='/jobs' method='post'>
  <label for='new-job'>Job Title</label>
  <input id='new-job' name='new-job' type='text'>
  <label for='new-description'>Job Description</label>
  <input id='new-description' name='new-description' type='text'>
  <br>
  <label for='new-image'>Company address</label>
  <input id='new-image' name='new-image' type='text'>
  <button type='submit'>Add job</button>
</form>
